* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Fira sans', sans-serif, Arial, Helvetica, sans-serif;
    color: #141414;
}
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}