.introducao{
    width: 100%;
    max-width: 1200px;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin: 0 auto;
    gap: 100px;
    align-items: center; 
}

.introducao h1{
    font-size: 3.5rem;
    line-height: 1.125;
    font-weight: bold !important;
    margin-bottom: 30px;
    position: relative;
}
.introducao h1::before{
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    background: url("../img/detalhe.svg") no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1;
}
.introducao p{
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #525252;
}

@media (max-width: 1000px) {
    .introducao h1{
        font-size: 3rem;
    }
}
@media (max-width: 700px) {
    .introducao{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 40px;
    }
    .introducao h1::before{
        width: 30px;
        height: 30px;
        left: 50%;
        transform: translateX(-50%);
        top: -60px;
    }
    img {
        max-width: 80%;
        margin: 0 auto;
    }
}